body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    background-color: #f2f4f6;
  }
  
  html {
    height: -webkit-fill-available;
  }
  
  main {
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .custom-js-hover {
    display: flex;
    width: 100%;
  }

  .custom-js-button p {
    font-size: 10px;
  }


  .custom-js-button {
    background-color: yellow;
    border: 1px solid black;
    /* opacity: 50%;  */
    width: 20px; 
    height: 20px;
    border-radius: 50%;
    font-weight: bold; 
    margin-left: 10px; 
    margin-top: 6px;
    position: relative;
  }

  .custom-js-button:hover:after {
    position: absolute;
    content: 'For\00a0 example:- faculty:FET,\00a0 dept:CSE';
    font-size: 16px;
    background-color: #EBF0F2;
    /* border: 1px solid #EBF0; */
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    /* display: block; */
    font-weight: normal;
    top: 0px;
    left: 25px;
    /* width: 850%; */
    text-align: left;
  }

  .custom-imp-button {
    background-color: yellow;
    border: 1px solid black;
    /* opacity: 50%;  */
    width: 20px; 
    height: 20px;
    border-radius: 50%;
    font-weight: bold; 
    margin-left: 10px; 
    margin-top: 6px;
    position: relative;
  }

  .custom-imp-button p {
    font-size: 10px;
  }

  .custom-imp-button:hover:after {
    position: absolute;
    content: 'Columns to be included in respective order:-\A faculty;\00a0 authors;\00a0 domain;\00a0 title\00a0 of\00a0 paper;\00a0 dept.;\00a0 name\00a0 of\00a0 journal;\00a0 name\00a0 of\00a0 conference;\00a0 title\00a0 of\00a0 book;\00a0 title\00a0 of\00a0 chapter; student;\00a0 scholar;\00a0 publication\00a0 month;\00a0 publication\00a0 year;\00a0 doi;\00a0 index\00a0 database\00a0 (SCOPUS,\00a0 SCIE,\00a0 ESCI,\00a0 UGC\00a0 CARE)';
    font-size: 12px;
    background-color: #EBF0F2;
    /* border: 1px solid #EBF0; */
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    /* display: block; */
    font-weight: normal;
    top: 0px;
    left: 25px;
    /* width: 850%; */
    text-align: left;
  }

  .dropdown-toggle { outline: 0; }
  
  .btn-toggle {
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
  }
  .btn-toggle:hover,
  .btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #d2f4ea;
  }
  
  .btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
  }
  
  .btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
  }
  .btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
  }
  
  .btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
  }
  .btn-toggle-nav a:hover,
  .btn-toggle-nav a:focus {
    background-color: #d2f4ea;
  }
  
  .scrollarea {
    overflow-y: hidden;
  }
  
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  @media (max-width: 1000px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  
    #search-input {
      position: relative;
      width: auto-fit;
    }
  
  }
  
  .b-example-vr {
    flex-shrink: 0;
    width: .01rem;
    height: 100vh;
  }
  
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
  
  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }
  
  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  
  #sidebar-main {
    position: fixed;
  }
  
  #add-paper-btn {
    width: 100px;
  }
  
  #search-bar {
    width: 400px;
  }
  