* {
  padding: 0;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  /* min-height: -webkit-fill-available; */
  background-color: #f2f4f6;
  /* background-color: red; */
}

main {
  display: flex;
  border: 1px solid black;
}
 
.asteriskField {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  /* border: 10px solid black; */
}

.nav-header {
  
  display: flex;
  
  justify-content: center;
  
  
  z-index: 999;
  box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.1); 
}

.nav-ul-list {
  display: none;
  width: 100%;
  /* height: 100vh; */
  /* border: 1px solid blue; */
  
}

.nav-bar-list-ul {
  padding-top: 10px;
  /* border: 1px solid red; */
  height: 18%;
  
}

.nav-bar-list-ul-li {
  display: flex;
  /* justify-content: center; */
  /* text-align: center; */
}

.nav-bar-list-ul-li a {
  text-decoration: none;
  /* margin-left: 0; */
  color: #000;
  padding: 0 10px 20px 0;
}

.mr-logo-navbar {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  /* width: 100%; */
  align-items: center;
  /* max-height: 12vh; */
}

.logo-navbar-ham {
  display: flex;
}

.mr-logo-navbar-img{
  /* padding-left: 10px; */
  padding-top: 10px;
  padding-bottom: 10px;
}

.hamburger {
  display: block;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 36px;
  padding-top: 35px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all .3s ease-in-out;
  background-color: #000;
}

.click {
  padding-left: 20px;
  padding-top: 35px;
  padding-right: 36px;
}

.clicked {
  display: flex;
  border-top: 1px solid black;

}

.click .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
  
}

.click .bar:nth-child(2){
  /* background-color: yellow; */
  display: none;
}

.click .bar:nth-child(3){
  transform: translateY(-1px) rotate(-45deg);

}


.dashboard-wrapper {
  /* padding-top: 10%; */
  display: flex;
  flex-direction: column;

  /* background-color: red; */
  /* display: flex; */
  /* flex-direction: column; */
}

.search-profile {
  display: flex;
  /* border: 1px solid black; */
  justify-content: space-around;
  min-width: 100vh;
  padding-top: 1.5%;
}


.profile-info {
  display: flex;
  /* border: 1px solid black; */
  align-items: center;
  /* padding: 0 10px 0 10px; */
}

.profile-menu, .buttons {
  padding-right: 10px;
}

.export-btn a{
  background-color: darkorange;
}

.export-btn a:hover {
  background-color: aqua;
}

.custom-js-button p {
  font-size: 10px;
  padding-left: 7px;
  padding-top: 2px;
}


.custom-js-hover {
  display: flex;
  width: 100%;
}  
.custom-js-hover {
  display: flex;
  width: 100%;
}  


.custom-js-button {
  cursor: help;
  background-color: yellow;
  border: 1px solid black;
  /* opacity: 50%;  */
  width: 20px; 
  height: 20px;
  border-radius: 50%;
  font-weight: bold; 
  margin-left: 10px; 
  margin-top: 6px;
  position: relative;
} 
.custom-js-button {
  cursor: help;
  background-color: yellow;
  border: 1px solid black;
  /* opacity: 50%;  */
  width: 20px; 
  height: 20px;
  border-radius: 50%;
  font-weight: bold; 
  margin-left: 10px; 
  margin-top: 6px;
  position: relative;
} 

.custom-js-button:hover:after {
  position: absolute;
  content: 'For\00a0 example:- faculty:FET;\00a0 department;CSE,\00a0 year;2020';
  font-size: 16px;
  background-color: #EBF0F2;
  /* border: 1px solid #EBF0; */
  border: 1px solid black;
  padding-left: 5px;
  padding-right: 5px;
  /* display: block; */
  font-weight: normal;
  top: 0px;
  left: 25px;
  /* width: 850%; */
  text-align: left;
}
.custom-js-button:hover:after {
  position: absolute;
  content: 'For\00a0 example:- faculty:FET;\00a0 department;CSE,\00a0 year;2020';
  font-size: 16px;
  background-color: #EBF0F2;
  /* border: 1px solid #EBF0; */
  border: 1px solid black;
  padding-left: 5px;
  padding-right: 5px;
  /* display: block; */
  font-weight: normal;
  top: 0px;
  left: 25px;
  /* width: 850%; */
  text-align: left;
}


.main-block {
  width: 100%; 
  position: relative; 
  top: 0;
  left: 0;
  transform: translate(0%, 0%);
}

.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: hidden;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (max-width: 769px) {
  .search-profile {
    flex-direction: column;
    align-items: center;
  }

  .profile-info {
    padding-top: 10px;
  }

}

@media (max-width: 1000px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

  #search-input {
    position: relative;
    width: auto-fit;
  }

}

.b-example-vr {
  flex-shrink: 0;
  width: .01rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

#sidebar-main {
  position: fixed;
}

#add-paper-btn {
  width: 100px;
}

#search-bar {
  width: 400px;
}