{% extends "login/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
<title>Sign up</title>
{% endblock title %}

{% block centerdiv %}
<div class="  d-flex justify-content-center ">
{% endblock centerdiv%}

{% block txtcntr %}
<div class="card-body ">
{% endblock txtcntr %}

{% block content %}
<form method="POST" class="">
    {% csrf_token %}
    <fieldset class="form-inline ">
        {{ form|crispy }}
    </fieldset>
    <div class="text-center mt-2 ">
        <button class="btn btn-primary btn-block fa-lg  " type="submit">
            Create account
        </button>
    </div>
</form>
<div class="border-top mt-3">
    <small class="text-muted">
        Already have an account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
    </small>
</div>
{% endblock content %}
