{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="{% static 'login/css/mdb.min.css' %}">
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}">
</head>
<body>
    <div class="login-wrapper-main">
        <div class="main-wrapper-bg" style="background: url('{% static 'login/img/mr-bg-dark.png' %}'); background-repeat: no-repeat; background-size: cover; width: 80%;">
            <h2 class="mt-5">MRIIRS Publication Explorer</h2>
        </div>
        <div class="main-wrapper">
            <div class="login-page">
                <div class="login-page-wrapper-heading ">
                    <img class="img-fluid" src="{% static 'login/img/mr-logo.png' %}" style="width: 185px;" alt="mr-logo">
                </div>
                <div class="login-form" >
                    {% block txtcntr %}{% endblock %}                
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == "error" %}
                                <div class="alert alert-danger">
                                    {{ message }}
                                </div>
                            {% else %}
                                <div class="alert alert-{{ message.tags }}">
                                    {{ message }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'login/js/mdb.min.js' %}"></script>
    
</body>
</html>
