{% extends "login/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
<title>Sign in</title>
{% endblock title %}


{% block txtcntr %}
<div class="card-body">
{% endblock txtcntr %}
    {% block content %}
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-inline">
            {{ form|crispy }}
        </fieldset>

        <div class="text-center pt-3 pb-4">
            <button class="btn btn-primary btn-block fa-lg  mb-3" type="submit">
                Login
            </button>
            <a class="text" href="{% url 'password_reset' %}">Forgot Password?</a>
        </div>
    </form>
    {% endblock content %}
</div>