{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}{% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'dashboard/css_base/style.css' %}">
    <style>
        .asteriskField {
            display: none;
        }
    </style>
  </head>
  <body>
    <main>
        <div class="container-fluid">
            <div class="row align-items-start">
                <div id="sidebar-main" class="col-md-3 col-lg-2 ms-auto d-md-block bg-light shadow sidebar collapse py-3">
                    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none px-4">
                        <img class="img-fluid" src="{% static 'dashboard/img/mr-logo.png' %}" width="200" height="80">
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li>
                            <a href="#" class="nav-link link-dark">
                                International/National Journal
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link link-dark">
                            <!-- <a href="#" class="nav-link active" aria-current="page"> -->
                                International/National Conference
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link link-dark">
                            <!-- <a href="#" class="nav-link active" aria-current="page"> -->
                                Book/Chapter
                            </a>
                        </li>
                        <!-- <li>
                        <a href="#" class="nav-link link-dark">
                            Dummy
                        </a>
                        </li>
                        <li>
                        <a href="#" class="nav-link link-dark">
                            Dummy
                        </a>
                        </li>
                        <li>
                        <a href="#" class="nav-link link-dark">
                            Dummy
                        </a>
                        </li> -->
                    </ul>
                    <div class="b-example-vr"></div>
                </div>
                <div class="col-10 ms-auto p-3 mb-3">
                    <div id="navbar-main" class="d-flex flex-wrap align-items-center justify-content-between">
                        <form method="GET" id="search-bar" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 px-2 custom-js-hover" role="search" action="{% url 'dashboard-home' %}">
                            <div class="custom-js-hover" >
                                <input name="search-result" id="search-input" type="search" class="form-control "  placeholder="Search..." aria-label="Search" > 
                                <button type="button" class="custom-js-button" > <p>!</p> </button>
                            </div>
                        </form>
                        <!-- <input name="search-result" id="search-input" type="search" class="form-control" placeholder="Search..." aria-label="Search">
                        </form> -->
                        <div class="row align-items-start">
                            <div class="col">
                                <a id="add-paper-btn" href="{% url 'dashboard-addpaper' %}" class="btn btn-dark" role="button">Add New</a>
                            </div>
                            <div class="col">
                                <a id="add-paper-btn" href="{% url 'dashboard-export' %}" class="btn btn-light border-1" role="button">Export</a>
                            </div>
                            <div class="col">
                                <div class="dropdown text-end">
                                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="10,20">
                                        <img src="{{ user.profile.pfp.url }}" alt="mdo" width="32" height="32" class="rounded-circle">
                                    </a>
                                    <ul class="dropdown-menu text-small">
                                        <li><a class="dropdown-item" href="{% url 'dashboard-profile' user.username %}">Profile</a></li>
                                        <li><a class="dropdown-item" href="{% url 'dashboard-home' %}">Dashboard</a></li>
                                        <li><a class="dropdown-item" href="{% url 'dashboard-mypaper' user.username %}">Your Papers</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="ms-sm-auto px-2 py-3 containter-fluid">
                      {% block main %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
</body>